<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to 'Dribble', root_path, class: 'navbar-brand', style: 'color: #DB4F8E; font-weight: bold;' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <button class="btn btn-secondary">
              <%= image_tag(current_user.image, height: '30rem', width: '30rem', style: 'object-fit: cover; border-radius: 50%;') %>
              <%= current_user.name %>
          </button>
        <%end%>
          <%= link_to 'Create a Shot', new_shot_path, class: 'nav-link active', 'aria-current' => 'page', onclick: "setTimeout(function() { location.reload(); }, 1000);"  %>
        <li class="nav-item">
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'My Shots', my_shots_path, class: 'nav-link active', class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Conversations', conversations_path, class: 'nav-link active', class:"nav-link"%>
          </li>
        <%end%>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display : flex ; align-items : center">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to follow_request_path, class: 'nav-link active btn btn-dark position-relative' do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
              </svg>
                <% if  current_user.follow_requests.count > 0 %>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%= current_user.follow_requests.count%>
                  </span>
                <% end %>
            <% end %>
          </li>
          <li class="nav-item">
              <%= link_to 'Add Friends', all_users_path, class: 'nav-link active', 'aria-current' => 'page'%>
            </li>
            <li class="nav-item">
              <%= link_to "Edit Profile", edit_user_registration_path , class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "View Profile", current_profile_path , class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Log Out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
